      <li id="<%=task.id%>" >
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
         <%= check_box_tag :value,1, task.status , data: { remote: true, url: task_path(task.id), params:{ id:task.id}.to_param, method: "put" }%>
        <%= link_to image_tag('icons8-poubelle-26.png'), task_path(task.id), method: :delete, class: "btn", remote:true%>
    </li>